body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0 auto;
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo-main {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 25.5px;
  padding-bottom: 23.5px;
}

@media only screen and (min-width: 768px) {
  .header-logo-main {
    padding-bottom: 25.5px;
  }
}
.header-logo-part {
  color: #2e2f42;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-menu-list-properties {
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-list-properties:hover,
.header-menu-list-properties:focus {
  color: #404bbf;
}

.header-menu-list-properties.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-menu-list-properties.current {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (max-width: 767px) {
  .header-contacts-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
.contacts-link {
  color: #434455;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.menu-toggle {
  height: 32px;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle.js-close-menu {
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.mobile-menu-icon {
  stroke: #2e2f42;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-right: 35px;
  padding-left: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-list:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  text-decoration: none;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-menu-link.active {
  color: #404bbf;
}

.address-mobile {
  margin-bottom: 48px;
}

.address-mobile-list {
  width: -moz-fit-content;
  width: fit-content;
}

.address-mobile-list:not(:last-child) {
  margin-bottom: 40px;
}

.address-mobile-tel {
  color: #4d5ae5;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.address-mobile-mail {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.list-media-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 428px) {
  .list-media-mobile {
    gap: 56px;
  }
}
.item-media-mobile {
  width: 40px;
  height: 40px;
}

.media-mobile-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-mobile-link .icon-media-mobile {
  fill: #ffffff;
}

.footer-main {
  background-color: #2e2f42;
  padding-top: 97.5px;
  padding-bottom: 96px;
  text-align: center;
}

@media only screen and (min-width: 1158px) {
  .footer-main {
    padding-top: 102px;
    padding-bottom: 100px;
  }
}
.footer-logo-main {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 17.5px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  display: flex;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (min-width: 767px) and (min-width: 1157px) {
  .footer-text {
    min-width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-part {
    margin-right: 120px;
  }
}
.socials-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

@media only screen and (min-width: 1158px) {
  .footer-icons-box {
    margin-left: 120px;
  }
}
.footer-icons-ul {
  display: flex;
  gap: 16px;
}

.footer-icons-list {
  width: 40px;
  height: 40px;
}

.footer-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-a .icon {
  fill: #f4f4fd;
}

.footer-container {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    gap: 72px 24px;
    align-items: baseline;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }
}
@media only screen and (max-width: 1157px) {
  .footer-form {
    width: 100%;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form {
    margin-left: auto;
  }
}
.subscribe-p {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-form {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
}
@media only screen and (max-width: 767.98px) {
  .footer-subscribe-label {
    width: 100%;
  }
}
.footer-subscribe-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  outline: transparent;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-input {
    width: 264px;
  }
}
.footer-subscribe-input::-moz-placeholder {
  color: currentColor;
}
.footer-subscribe-input::placeholder {
  color: currentColor;
}

.footer-submit-button {
  min-width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .footer-submit-button {
    margin: 0;
  }
}
.footer-submit-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.h-one {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.h-two {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
}

.goal-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.h-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.h-two-portfolio {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #f4f4fd;
  color: #4d5ae5;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.welcome-page {
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 112px;
  padding-right: 0;
  padding-bottom: 112px;
  padding-left: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (min-width: 1158px) {
  .welcome-page {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .welcome-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice_mob@2x.jpg);
  }
}
@media only screen and (min-width: 429px) {
  .welcome-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peolpeoffice_tab@1x.jpg);
  }
}
@media only screen and (min-width: 429px) and (min-device-pixel-ratio: 2),
  only screen and (min-width: 429px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: 429px) and (min-resolution: 192dpi),
  only screen and (min-width: 429px) and (min-resolution: 2dppx) {
  .welcome-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peolpeoffice_tab@2x.jpg);
  }
}
@media only screen and (min-width: 769px) {
  .welcome-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice_desk@1x.jpg);
  }
}
@media only screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
  only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: 769px) and (min-resolution: 192dpi),
  only screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .welcome-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice_desk@2x.jpg);
  }
}
.h-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.72px;
  max-width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    letter-spacing: 1.12px;
    max-width: 496px;
  }
}
/* mobile */
.main-button {
  display: block;
  min-width: 169px;
  padding: 16px 32px 16px 32px;
  margin: 72px auto 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .main-button {
    margin: 36px auto 0 auto;
  }
}
@media only screen and (min-width: 1158px) {
  .main-button {
    margin: 48px auto 0 auto;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.our-goal {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .our-goal {
    padding-top: 120px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .goal-list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .goal-list {
    gap: 24px;
  }
}
.goal-list-li {
  max-width: 396px;
}

@media only screen and (max-width: 767.98px) {
  .goal-list-li:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .goal-list-li {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .goal-list-li {
    flex-basis: calc((100% - 72px) / 4);
    max-width: 264px;
  }
}
.goal-container-icons {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .goal-container-icons {
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.h-three {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .h-three {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .h-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.goal-p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .goal-p {
    font-weight: 400;
  }
}
@media only screen and (max-width: 1157px) {
  .section-two {
    display: none;
  }
}
.section-two {
  padding: 0 0 120px 0;
}
.section-two .do-container {
  display: flex;
  flex-direction: column;
}
.section-two .do-container .h-two {
  margin-bottom: 72px;
  text-align: center;
}
.section-two .do-container .images-list {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
}
.section-two .do-container .images-list .images-work {
  display: inline-flex;
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  align-items: flex-start;
}

.section-employee {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .section-employee {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 428px) and (max-width: 767px) {
  .employee-container {
    padding-right: 82px;
    padding-left: 82px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .employee-container {
    padding-right: 108px;
    padding-left: 108px;
  }
}
.h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.employee-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .employee-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    align-items: center;
  }
}
@media only screen and (min-width: 1158px) {
  .container.employee-list {
    gap: 24px;
    justify-content: center;
  }
}
.employee-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.employee-card {
  flex-basis: calc((100% - 24px) / 2);
}

@media only screen and (min-width: 1158px) {
  .employee-card {
    flex-basis: calc((100% - 72px) / 4);
  }
}
.employee-icons-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.employee-icons-ul .socials-icons-list {
  width: 40px;
  height: 40px;
}
.employee-icons-ul .socials-icons-list .socials-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employee-icons-ul .socials-icons-list .socials-a .icon {
  fill: #f4f4fd;
}
.employee-icons-ul .socials-icons-list .socials-a:hover,
.employee-icons-ul .socials-icons-list .socials-a:focus {
  background-color: #404bbf;
}

.employee-card-text {
  padding-top: 32px;
  padding-right: 0;
  padding-bottom: 32px;
  padding-left: 0;
}

.h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.goal-p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-customers {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .customers-div {
    padding-right: 108px;
    padding-left: 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-div {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.customers-div .h-two {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 72px;
}

@media only screen and (min-width: 1158px) {
  .customers-ul {
    flex-wrap: nowrap;
  }
}
.customers-list {
  flex-basis: calc((100% - 16px) / 2);
}

@media only screen and (min-width: 768px) {
  .customers-list {
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list {
    flex-basis: calc((100% - 120px) / 6);
  }
}
.customers-a {
  display: flex;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-a:hover,
.customers-a:focus {
  border-color: #404bbf;
  border-radius: 4px;
  color: #404bbf;
  border: 1px solid #404bbf;
}
.customers-a:hover .icon,
.customers-a:focus .icon {
  fill: currentColor;
}

.projects-section {
  padding: 96px 0 120px 0;
}
.projects-section .projects-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.projects-section .projects-list .portfolio-button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-section .projects-list .portfolio-button:hover,
.projects-section .projects-list .portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-card {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-card-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-link:hover .overlay-p,
.portfolio-card-link:focus .overlay-p {
  transform: translateY(0%);
}

.projects-card-list-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.projects-card-list-content .h-two-portfolio {
  margin-bottom: 8px;
}

.projects-overlay-box {
  position: relative;
  overflow: hidden;
  z-index: 990;
}
.projects-overlay-box .overlay-p {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 0.7);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

@media only screen and (min-width: 428px) {
  .modal-div {
    width: 408px;
  }
}
@media only screen and (min-width: 768px) {
  .modal-div {
    padding: 72px 24px 24px 24px;
  }
}
.close-button {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-div {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-div {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea-div {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  padding: 16px 32px;
  margin-left: 95px;
  border-radius: 4px;
  border-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404bbf;
} /*# sourceMappingURL=styles.css.map */
/* test */
